*.bak
*.exe
*.lib
*.log
*.obj
*.pdb
*.vspscc
*.[Cc]ache

# User-specific files
*.suo
*.user
license.xml

# Build results
[Dd]ebug/
[Rr]elease/
[Rr]eleases/
[Bb]in/
[Oo]bj/

# Visual Studio 2015 cache/options directory
src/.vs
src/.vs/config/applicationhost.config
Examples/.vs
Examples/.vs/config/applicationhost.config

# NuGet
src/packages/
Examples/packages/
Examples/Suneco.SwitchingLinkProvider.Example1/packages

# Backup
src/Backup/
